In [12]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
from matplotlib.colors import ListedColormap

In [13]:
zero_one_colourmap = ListedColormap(('red', 'green'))

In [14]:
salary_data_train = pd.read_csv('SalaryData_Train(1).csv')
salary_data_train

,age,workclass,education,educationno,maritalstatus,occupation,relationship,race,sex,capitalgain,capitalloss,hoursperweek,native,Salary
0,39,State-gov,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30156,27,Private,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
30157,40,Private,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
30158,58,Private,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
30159,22,Private,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
30160,52,Self-emp-inc,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [15]:
salary_data_test = pd.read_csv('SalaryData_Test(1).csv')
salary_data_test

,age,workclass,education,educationno,maritalstatus,occupation,relationship,race,sex,capitalgain,capitalloss,hoursperweek,native,Salary
0,25,Private,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K
1,38,Private,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K
2,28,Local-gov,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K
3,44,Private,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K
4,34,Private,10th,6,Never-married,Other-service,Not-in-family,White,Male,0,0,30,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15055,33,Private,Bachelors,13,Never-married,Prof-specialty,Own-child,White,Male,0,0,40,United-States,<=50K
15056,39,Private,Bachelors,13,Divorced,Prof-specialty,Not-in-family,White,Female,0,0,36,United-States,<=50K
15057,38,Private,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,50,United-States,<=50K
15058,44,Private,Bachelors,13,Divorced,Adm-clerical,Own-child,Asian-Pac-Islander,Male,5455,0,40,United-States,<=50K
15059,35,Self-emp-inc,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,60,United-States,>50K

In [16]:
salary_data_train.isnull().sum()

age              0
workclass        0
education        0
educationno      0
maritalstatus    0
occupation       0
relationship     0
race             0
sex              0
capitalgain      0
capitalloss      0
hoursperweek     0
native           0
Salary           0
dtype: int64

In [17]:
salary_data_test.isnull().sum()

age              0
workclass        0
education        0
educationno      0
maritalstatus    0
occupation       0
relationship     0
race             0
sex              0
capitalgain      0
capitalloss      0
hoursperweek     0
native           0
Salary           0
dtype: int64

# Data Preparation

In [18]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
salary_data_test['Salary']   =le.fit_transform(salary_data_test['Salary'])
salary_data_train['Salary']  =le.fit_transform(salary_data_train['Salary'])

In [19]:
salary_data_train_1 = pd.get_dummies(salary_data_train)
salary_data_test_1  = pd.get_dummies(salary_data_test)
salary_data_train_1

,age,educationno,capitalgain,capitalloss,hoursperweek,Salary,workclass_ Federal-gov,workclass_ Local-gov,workclass_ Private,workclass_ Self-emp-inc,...,native_ Portugal,native_ Puerto-Rico,native_ Scotland,native_ South,native_ Taiwan,native_ Thailand,native_ Trinadad&Tobago,native_ United-States,native_ Vietnam,native_ Yugoslavia
0,39,13,2174,0,40,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
1,50,13,0,0,13,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
2,38,9,0,0,40,0,0,0,1,0,...,0,0,0,0,0,0,0,1,0,0
3,53,7,0,0,40,0,0,0,1,0,...,0,0,0,0,0,0,0,1,0,0
4,28,13,0,0,40,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30156,27,12,0,0,38,0,0,0,1,0,...,0,0,0,0,0,0,0,1,0,0
30157,40,9,0,0,40,1,0,0,1,0,...,0,0,0,0,0,0,0,1,0,0
30158,58,9,0,0,40,0,0,0,1,0,...,0,0,0,0,0,0,0,1,0,0
30159,22,9,0,0,20,0,0,0,1,0,...,0,0,0,0,0,0,0,1,0,0
30160,52,9,15024,0,40,1,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0

In [20]:
#Min-Max Scalar
def norm_func(i):
    x=(i-i.min())/(i.max()-i.min())
    return x
salary_data_train_1 = norm_func(salary_data_train_1.iloc[:,0:])
salary_data_test_1 = norm_func(salary_data_test_1.iloc[:,0:])
salary_data_train_1

,age,educationno,capitalgain,capitalloss,hoursperweek,Salary,workclass_ Federal-gov,workclass_ Local-gov,workclass_ Private,workclass_ Self-emp-inc,...,native_ Portugal,native_ Puerto-Rico,native_ Scotland,native_ South,native_ Taiwan,native_ Thailand,native_ Trinadad&Tobago,native_ United-States,native_ Vietnam,native_ Yugoslavia
0,0.301370,0.800000,0.021740,0.0,0.397959,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
1,0.452055,0.800000,0.000000,0.0,0.122449,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
2,0.287671,0.533333,0.000000,0.0,0.397959,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
3,0.493151,0.400000,0.000000,0.0,0.397959,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
4,0.150685,0.800000,0.000000,0.0,0.397959,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30156,0.136986,0.733333,0.000000,0.0,0.377551,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
30157,0.315068,0.533333,0.000000,0.0,0.397959,1.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
30158,0.561644,0.533333,0.000000,0.0,0.397959,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
30159,0.068493,0.533333,0.000000,0.0,0.193878,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
30160,0.479452,0.533333,0.150242,0.0,0.397959,1.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0

In [21]:
x_train = salary_data_train_1.drop('Salary',axis=1)
y_train = salary_data_train_1[['Salary']]
x_test  = salary_data_test_1.drop('Salary',axis=1)
y_test  = salary_data_test_1[['Salary']]

# Model Building

In [22]:
import warnings
warnings.filterwarnings('ignore')

from sklearn.svm import SVC
s = SVC(kernel='rbf')
classifier = s.fit(x_train,y_train)

In [23]:
# Model Testing
y_pred = classifier.predict(x_test)

In [24]:
# Model Evalution
from sklearn.metrics import accuracy_score, precision_score, recall_score, confusion_matrix
print('Accuracy Score    : ', accuracy_score(y_test,y_pred))
print('precision Score   : ', precision_score(y_test,y_pred))
print('Recall Score      : ',recall_score(y_test,y_pred))
print('Confussion matrix : \n',confusion_matrix(y_test,y_pred))

Accuracy Score    :  0.8378486055776893
precision Score   :  0.7155586017820424
Recall Score      :  0.5643243243243243
Confussion matrix :
 [[10530   830]
 [ 1612  2088]]

In [25]:
from sklearn.svm import SVC
s = SVC(kernel='poly')
classifier = s.fit(x_train,y_train)

In [26]:
# Model Testing
y_pred = classifier.predict(x_test)

In [27]:
# Model Evalution
from sklearn.metrics import accuracy_score, precision_score, recall_score, confusion_matrix
print('Accuracy Score    : ', accuracy_score(y_test,y_pred))
print('precision Score   : ', precision_score(y_test,y_pred))
print('Recall Score      : ',recall_score(y_test,y_pred))
print('Confussion matrix : \n',confusion_matrix(y_test,y_pred))

Accuracy Score    :  0.8401726427622842
precision Score   :  0.7196738022426096
Recall Score      :  0.5724324324324325
Confussion matrix :
 [[10535   825]
 [ 1582  2118]]

In [28]:
from sklearn.svm import SVC
s = SVC(kernel='linear')
classifier = s.fit(x_train,y_train)

In [29]:
# Model Testing
y_pred = classifier.predict(x_test)

In [30]:
# Model Evalution
from sklearn.metrics import accuracy_score, precision_score, recall_score, confusion_matrix
print('Accuracy Score    : ', accuracy_score(y_test,y_pred))
print('precision Score   : ', precision_score(y_test,y_pred))
print('Recall Score      : ',recall_score(y_test,y_pred))
print('Confussion matrix : \n',confusion_matrix(y_test,y_pred))

Accuracy Score    :  0.847476759628154
precision Score   :  0.7390119250425894
Recall Score      :  0.5862162162162162
Confussion matrix :
 [[10594   766]
 [ 1531  2169]]